@import url('https://fonts.googleapis.com/css?family=Comfortaa|Fauna+One|Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Fauna One', serif;
}

body{
    background: #F7DC6F;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 270px;
    height: 100%;
    background: #181616;
}

.wrapper .sidebar h2{
    color: yellow;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.wrapper .sidebar ul li{
    padding: 1rem;
    font-size: 1.2rem;
    padding-left: 4rem;
}

.wrapper .sidebar ul li a{
    color: beige;
    display: block;
}

.wrapper .sidebar ul li:hover a{
    color: yellow;
    display: block;
}

.wrapper .sidebar ul li:hover{
    background: black;
}

.wrapper .sidebar ul li a .fas{
    width: 35px;
}
img{
    height: 120px;
    width: 120px;
    margin-left: 4.9rem;
    margin-bottom: 1.5rem;
}

.wrapper .sidebar .social_icons{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_icons a{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 23px;
    text-align: center;
    margin: 0 7px;
    color: grey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.wrapper .sidebar .social_icons a:hover{
    color: whitesmoke;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 300px;
}

.wrapper .main_content #home{
    padding-top: 20rem;
    padding-bottom: 20rem;
    display: block;
}

.wrapper .main_content #education{
    padding-bottom: 22rem;
    display: block;
}

.wrapper .main_content #skill{
    padding-bottom: 20rem;
    display: block;
}

.wrapper .main_content #cc{
    padding-bottom: 18rem;
    display: block;
}

.wrapper .main_content #about{
    padding-bottom: 29rem;
    display: block;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    font-size: 400%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    color: #d35400 ;
    font-weight: bold;  
}

/* Animation */
.anim-typewriter1{
  animation: typewriter1 4s steps(44) 1s 1 normal both
}
@keyframes typewriter1{
  from{width: 0;}
  to{width: 16em;}
}

.anim-typewriter2{
    animation: typewriter2 4s steps(44) 1s 1 normal both
}
@keyframes typewriter2{
    from{width: 0;}
    to{width: 22em;}
}

#div1 {
    animation-delay: 6s;
    font-size: 200%;
    color: #582612fd;
}

l{
    color: red;
}

#Subheading{
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    color: saddlebrown;
    border-left: 5px solid;
    padding-left: 10px;
    padding-bottom: 0.5rem;
}

.social_icons1{
    position: absolute;
    transform: translateY(-40%);
    padding-top: 20rem;
    padding-bottom: 20rem;
    color: darkgoldenrod;
}

.social_icons1 a{
    display: inline-block;
    width: 85px;
    font-size: 70px;
    color: darkgoldenrod;
}

.social_icons1 ul li{
    font-size: 20px;
    font-weight: bold;
}

.social_icons1 a:hover{
    color: navy;
}

b{
    font-size: 30px;
    margin-bottom: 1rem;
    font-family: 'Fauna One', serif;
}

p{
    font-size: 20px;
    padding-top: 1rem;
    font-family: 'Fauna One', serif;
}

#skill h3{
    padding-bottom: 2rem;
    font-size: 2rem;
}
.fa-check,.fa-star{
    padding-right: 5px;
}

.core li{
    font-size: 30px;
    font-weight: bold;
    color: orangered;
}

#cc ul li{
     color: black;
     font-size: 25px;
     padding-bottom: 5px;
}

#about p{
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
}

.active{
    background-color: saddlebrown;
}
